* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #374151;
  --secondary-color: #1f2937;
  --font-color: #d1d5db;
  --border-color: #111827;
}
body {
  background-color: var(--secondary-color);
  color: var(--font-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.good-songs {
  max-width: 50rem;
  margin: 2rem auto;
  background-color: var(--primary-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.good-songs h1 {
  padding: 1.2rem 1rem 1rem 1rem;
  text-align: center;
}
.good-songs p {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
nav {
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-color);
}
.btn-genre {
  font-size: 1rem;
  width: 28%;
  background-color: var(--secondary-color);
  padding: 0.5rem;
  text-align: center;
  margin: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid var(--font-color);
  outline: none;
  cursor: pointer;
  color: var(--font-color);
}
.song-list {
  padding: 1rem;
}
article {
  background-color: var(--secondary-color);
  padding: 0.8rem;
  width: 80%;
  margin: 1rem auto;
  border-radius: 0.3rem;
  border: 1px solid var(--font-color);
}

article:hover {
  box-shadow: 2px 2px 6px black;
  cursor: pointer;
}

.song-list-content {
  margin: 0 auto;
  padding: 0.5rem;
}
.song-list-title {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
.song-list-singer {
  padding-bottom: 0.5rem;
}
.song-list-release {
  padding-bottom: 0.5rem;
}
.song-list-movie {
  padding-bottom: 0.5rem;
}

.song-list-img {
  max-width: 50rem;
}
.song-list-img img {
  width: 100%;
  border-radius: 0.5rem;
  height: 13rem;
}

@media (min-width: 550px) {
  nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    width: 80%;
  }
  .btn-genre {
    width: 25%;
  }
  article {
    display: flex;
    width: 90%;
  }
  .song-list-content {
    width: 50%;
  }
  .song-list-img {
    margin-left: 1rem;
  }
  .song-list-img img {
    width: 15rem;
    height: 15rem;
  }
}

@media (min-width: 280px) and (max-width: 549px) {
  .good-songs {
    max-width: 60rem;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .btn-genre {
    width: 29%;
    margin: 0.5rem 0;
  }
}
